
.ps-menuitem-root.ps-active {
  background-color: color-mix(in oklch, var(--primary) 10%, transparent);
  color: var(--primary);
}

.ps-menuitem-root.ps-active::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 80%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translateY(-50%);

  background-color: var(--primary);
}